<div class="px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-column lg:flex-row justify-content-center align-items-center gap-7">
      <div class="text-center lg:text-right">
          <div class="mt-6 mb-3 font-bold text-6xl text-900">Controle de Estoque</div>
          <p class="text-700 text-3xl mt-0 mb-6">Faça o login como Administrador ou Operador para ter acesso a mais opções.</p>
      </div>
      <div>
          <img src="../../assets/images/manage-stock-third-party.svg" alt="control-inventory" class="w-full md:w-30rem">
      </div>
  </div>
</div>
