<div class="p-grid p-justify-center">
  <div class="p-col-12 p-sm-12 p-md-8 p-lg-6">
    <p-card>
      <div class="p-card-body">
        <div class="mb-3 flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between">
          <div class="mb-3 md:mb-0">
            <div class="text-3xl font-medium text-900 mb-3">Controle de Estoque</div>
            <div class="font-medium text-500 mb-3">Lançamento da Movimentação de Produto</div>
          </div>
          <button pButton pRipple type="button" icon="pi pi-user" (click)="visible1 = true" label="Login" class="p-button-outlined"></button>
          <button pButton pRipple label="Cadastrar Produto" icon="pi pi-plus" (click)="visible2 = true"></button>
          <button pButton pRipple label="Lançar Movimentaçao" icon="pi pi-plus" (click)="visible3 = true"></button>


        </div>
        <div class="border-2 border-dashed surface-border flex-grow">

          <app-lista-movimentacao></app-lista-movimentacao>

        </div>
      </div>
    </p-card>
  </div>
</div>


<p-dialog [(visible)]="visible1" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '52vw'}" header="Login" [draggable]="false" [resizable]="false">
  <app-login></app-login>
</p-dialog>

<p-dialog [(visible)]="visible2" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '52vw'}" header="Preencha os campos abaixo:" [draggable]="false" [resizable]="false">
    <app-form-produto></app-form-produto>
</p-dialog>

<p-dialog [(visible)]="visible3" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '52vw'}" header="Preencha os campos abaixo:" [draggable]="false" [resizable]="false">
  <app-form-movimentacao></app-form-movimentacao>
</p-dialog>

