
<div class="surface-card p-4 shadow-2 border-round">
  <div class="mb-3 flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between">

      <div class="mb-3 md:mb-0">
          <div class="text-3xl font-medium text-900 mb-3">Controle de Estoque</div>
          <div class="font-medium text-500 mb-3">Lista de Movimentaçãoes</div>
      </div>
      <p-button label="Login" routerLink="/login"></p-button>
      <button pButton pRipple label="Lançar Movimentação" icon="pi pi-plus" (click)="launchDialog()"></button>
      <button pButton pRipple routerLinkActive="router-link-active"  label="Novo Produto" icon="pi pi-plus"></button>


</div>
</div>
