<div class="py-3">
  <h1 class="text-center">Login</h1>
  <form
    *ngIf="!isLoggedIn"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="p-fluid">
      <!--INPUT USERNAME-->
      <div class="p-field">
        <label for="username">Username</label>
        <input
          pInputText
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'p-invalid': f.submitted && username.invalid }"
        />
        <div *ngIf="username.invalid" class="p-error">
          Username is required!
        </div>
      </div>
      <!--INPUT PASSWORD-->
      <div class="p-field">
        <label for="password">Password</label>
        <span class="p-float-label">
          <p-password
            inputId="password"
            name="password"
            placeholder="Password"
            [toggleMask]="true"
            [(ngModel)]="form.password"
            required
            #password="ngModel"
            [ngClass]="{ 'p-invalid': f.submitted && password.invalid }"
          ></p-password>
        </span>
        <!--
        <div *ngIf="password.invalid" class="p-error">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
        -->
      </div>
      <button
        pButton
        pRipple
        label="Entrar"
        routerLink="/login"
        class="mt-8 p-button-rounded p-button-lg p-button-secondary"
      ></button>
    </div>
    <div
      *ngIf="f.submitted && isLoginFailed"
      class="p-messages p-messages-error"
    >
      Login failed: {{ errorMessage }}
    </div>
  </form>
  <p-messages *ngIf="showSuccessMessage" severity="success" [value]="[{ summary: 'Logged in as {{ roles }}' }]"></p-messages>
</div>
