<div class="py-3 flex justify-content-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-card p-fluid p-shadow-10" [style.width]="'25em'" novalidate>

    <div class="p-field">
      <h1 class="text-center mb-5">Login</h1>

      <label for="username" class="p-d-block">Username</label>
      <input type="text" id="username" formControlName="username" class="p-inputtext mb-2" [ngClass]="{'p-invalid': submitted && loginForm.controls['username'].errors }">
      <small class="p-error" *ngIf="submitted && loginForm.controls['username'].errors">Username is required.</small>
    </div>

    <div class="p-field">
      <label for="password" class="p-d-block">Password</label>
      <p-password type="password" id="password" formControlName="password" class="p-password mb-3" [toggleMask]="true" [ngClass]="{'p-invalid': submitted && loginForm.controls['password'].errors}"></p-password>
      <small class="p-error" *ngIf="submitted && loginForm.controls['password'].errors">Password is required.</small>
    </div>

    <button pButton type="submit" [disabled]="!loginForm.valid" label="Entrar" class="p-button-raised p-button-primary mt-7"></button>
    <p-messages *ngIf="showSuccessMessage" severity="success" [value]="[{ summary: 'Logado como {{ roles }}' }]" class="p-d-block p-mb-2"></p-messages>
    <p-messages *ngIf="isLoginFailed" severity="error" [value]="[{ summary: 'Login failed', detail: errorMessage }]" class="p-d-block p-mb-2"></p-messages>
  </form>
</div>
