<div class="p-fluid">
  <form [formGroup]="formMovimentacao" (ngSubmit)="insertMovimentacao()">
    <div class="p-field">
      <div class="p-field">
        <label for="produto">Produto*</label>
        <p-dropdown [options]="produto$" optionLabel="nome" [(ngModel)]="produto" name="produto"></p-dropdown>
      </div>
      <label for="tipoMovimento">Tipo de Movimento*</label>
      <p-dropdown formControlName="tipoMovimento" [options]="tipoMovimento"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="data">Data*</label>
      <p-inputMask mask="99/99/9999" formControlName="data" placeholder="99/99/9999" slotChar="dd/mm/yyyy"></p-inputMask>
    </div>
    <div class="p-field">
      <label for="quantidade">Quantidade</label>
      <input type="number" formControlName="quantidade" pInputText />
    </div>

    <div class="p-field">
      <label for="motivo">Motivo</label>
      <textarea rows="3" formControlName="motivo" pInputTextarea></textarea>
    </div>

    <div class="p-field">
      <label for="documento">Documento</label>
      <input type="text" formControlName="documento" pInputText />
    </div>
    <div class="p-field">
      <label for="documento">Saldo</label>
      <input type="number" formControlName="saldo" pInputText />
    </div>
    <div class="p-field">
      <label for="documento">Situação</label>
      <input type="text" formControlName="situacao" pInputText />
    </div>

    <button pButton type="submit" label="Salvar" (click)="insertMovimentacao()" [disabled]="!formMovimentacao.valid"></button>
    <button pButton type="button" label="Apagar" (click)="cancel()"></button>

  </form>
</div>
